*.log
.DS_Store
.env
.env.backup
.env.deployment
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.local/
/.nova
/.phpunit.cache
/.scratch/
/.vscode
/.zed
/auth.json
/deploy-staging
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/app/rendered/
/storage/app/assets/
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
